/*  about page */

#img-about {
  height: 550px;
  border: 0px solid;
  border-radius: 20px;

}

.ct-img {
  max-width: 100%;

}

.div-text2 {
  align-items: center;
  align-content: center;
  text-align: left;
  /* padding-left: 10%; */
  padding-right: 10%;
  padding-bottom: 10%;
}

#about-heading {
  text-align: left;
}

.footer-logo{
  height: 50px;
  width: 30px;
  position: relative;
}

#about-img{
  width: 50%;
  /* background-color: orange; */
  float: left;
  position: relative;
}

.about-img-contaner{
    justify-content: center;
    align-content: right;
    align-self: center;
    max-width: auto;
    height: auto;
    /* background: rgb(178, 230, 240); */
    border: 0px solid;
    padding-left: 20%;
    margin: auto;
    border-radius: 20px;
  
}


#about-text{
  width: 50%;
  /* background-color: green; */
  float: right;
  position: relative;
}


.contactus-box{
    align-self: center;
    max-width: 550px;
    height: auto;
    background: rgb(178, 230, 240);
    border: 0px solid;
    padding: 25px;
    margin: auto;
    border-radius: 20px;
}

#cont{
  position: relative;
  top: -50px; 
  left: 10px;
}

.shadow-box1{
    box-shadow: -30px 30px 20px rgba(0,0,0,0.3);

}

.shadow-box2{
  box-shadow: -20px 20px 10px rgba(0,0,0,0.3);

}

.sendmail-box{
    align-self: center;
    max-width: 100%;
    height: auto;
    background: rgb(178, 230, 240);
    border: 0px solid;
    padding: 25px;
    margin: auto;
    border-radius: 20px;
}

.recivedmail-box{
  
  align-items: center;
  align-content: center;
  max-width: 100%;
  height: auto;
  background: rgb(170, 228, 152);
  border: 0px solid;
  padding: 25px;
  margin: auto;
  margin-top: 20px  ;
  border-radius: 20px;
}

.mail-stack{
  width: 100%;
  height: auto;
  background-color: rgb(161, 233, 177);
  margin-bottom: 10px;
  padding: 5px;
  border: 0px solid;
  border-radius: 20px;

}

.mail-stack-email{
  width: 30%;
  float: left;
  padding-left: 20px;
}

.mail-stack-body{
  width: 70%;
  float: right;

}


@media only screen and (max-width: 400px) {

  /* about */

  #about-img{
    width: 100%;
    /* background-color: orange; */
    float: none;
  }

  #about-text{
    width: 100%;
    /* background-color: green; */
    float: none;
  }

  .about-img-contaner{
    align-content: center;
    max-width: 100%;
    height: auto;
    border: none;
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
  
    }

  #cont{
    position: unset;
    top: auto; 
    left: auto;
  }

  .contactus-box{
    width: 100%;
    margin: auto;
    background: white;
    border-radius: 0px;
  }

  .mail-stack-email{
    width: 100%;
  }
  
  .mail-stack-body{
    width: 100%;
    padding-left: 20px;
  
  }

  #img-about {
    height: auto;
    border-radius: 0px;
  
  }

  .div-text2 {
      text-align: center;
      padding: 0 2% 2% 2%;
  }

  #about-heading {
      text-align: center;
  }

  
}
